body {
    margin: 0 auto;
    padding: 50px;
}

nav {
    background: #F9F9F9;
    padding: 25px;
    margin-bottom: 15px;
}

div.btn-group {
    margin: 15px 5px 15px 0px;
}

img.class-thumb {
    width: 100;
}

#btn-reset {
    background-color:rgba(176, 49, 98, 0.6);
}

span.filter-pill {
    background-color: rgba(176, 49, 98, 0.6);
    margin: 5px;
}