<html ng-app="classFinder">

<head>
    <meta charset="utf-8">
    <title>YI Class Finder</title>

    <!-- LIBARIES / FRAMEWORKS -->
    <!-- jQuery via CDN -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap via CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Angular via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <!-- Angular UI Boostrap https://github.com/angular-ui/bootstrap -->
    <script src="js/class-finder/lib/ui-bootstrap-0.13.0.min.js"></script>
    <!-- Underscore -->
    <script src="js/class-finder/lib/underscore-min.js"></script>

    <!-- Class Finder App -->
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/class-finder/classes.js"></script>
    <script src="js/class-finder/app.js"></script>
</head>

<body ng-controller="SearchCtrl">

    <nav>

      <input ng-model="searchText" class="form-control" type="text" placeholder="Search classes" />

      <div ng-repeat="dropdown in dropdowns" class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            Find by {{dropdown.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="option in dropdown.menuOptions">
            <a ng-click="addFilter( option, dropdown.name )">{{option}}</a>
          </li>
        </ul>
      </div>
      
      <div>
        <span ng-repeat="category in dropdowns">
          <span ng-repeat="filter in activeFilters[category.name]">
            <span>{{filter}}</span>
            <a ng-click="removeFilter( $index, category.name )">x</a>
          </span>
        </span>
      </div>

    </nav>
  
    <!-- TODO: reorganize layout to contain tags/thumb/shortdescription/title all under one <th>, in one <td> -->
    <table class="table table-striped">
        <tbody class="table-striped">
            <tr>
              <th>Thumb</th>
              <th>Title</th>
              <th>Author</th>
            </tr>
            <tr ng-repeat="class in classes | filter:searchFilter | filter:durationFilter | filter:levelFilter | filter:instructorFilter | filter: focusFilter">
              <td><img ng-src="{{class.image}}" class="class-thumb"></td>
              <td><a href="http://yogainternational.com{{class.url}}">{{class.title}}</a></td>
              <td><a href="http://yogainternational.com/profile/{{class.authorId}}">{{class.author}}</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
